<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Plant Savior Pro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantSaviorPro">

        <!-- Login - LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ana Ekran -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Kayıt Ekranı -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Sonuç Ekranı -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <!-- Tavsiye Ekranı -->
        <activity
            android:name=".AdviceActivity"
            android:exported="false" />


        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".HistoryActivity" android:exported="false"/>

    </application>

</manifest>